<a class="btn btn-primary add-order" [routerLink]="['/add-order']">Add Order</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Accession No.</th>
      <th>Patient</th>
      <th>Urgency</th>
      <th>Imaging Procedure</th>
      <th>Referring Physician</th>
      <th>Scheduled Date</th>
      <th>Date Activated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.accessionNumber}}</td>
      <td>Order.Patient.display</td>
      <td>Routine</td>
      <td>X-RAY</td>
      <td>Dr Smith</td>
      <td>09-01-2017</td>
      <td></td>
      <td><a [routerLink]="['/app/orders', order.accessionNumber]"><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>
  </tbody>
</table>
