<div class="container">
  <button class="btn btn-default dashboard-btn" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Radiology Order</h3>
    </div>
    <div class="panel-body">
      <p><strong>Accession Number</strong> {{order.accessionNumber}}</p>
      <p><strong>Imaging Procedure</strong> </p>
      <p><strong>Reason (Coded</strong>)	</p>
      <p><strong>Reason (Free Text)</strong>	{{order.orderReasonNonCoded}}</p>
      <p><strong>Clinical History</strong>	</p>
      <p><strong>Orderer</strong> </p>
      <p><strong>Urgency</strong> {{order.urgency}}</p>
      <p><strong>Scheduled Date</strong> {{order.dateActivated}}</p>
      <p><strong>Stop Date</strong> {{order.dateStopped}}</p>
      <p><strong>Performed status</strong> </p>
      <p><strong>Instructions</strong> </p>
      <p><strong>Created By</strong> </p>
      <p><strong>Study Results</strong> </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Report</h3>
    </div>
    <div class="panel-body">
      <label for="reportType">Report Type</label>
      <select name="reportType" id="reportType" #box (change)="0">
        <option value="FREE">Free Text Report</option>
        <option value="MRRT">MRRT Report</option>
      </select>
      <div *ngIf="box.value === 'MRRT'">
        <label for="reportTemplate">Report Template</label>
        <input type="text" id="reportTemplate">
      </div>
      <div>
        <a class="btn btn-default claim-report-btn" [routerLink]="['/add-report']">Claim Report</a>
      </div>
    </div>
  </div>
</div>
